# Common packages
ipynb-py-convert
matplotlib
numpy
pandas
pyyaml
scikit-learn
seaborn


# HEP related
awkward
gdown
h5py
uproot
tables


# Machine Learning
pennylane>=0.35.0
pennylane-qiskit
torch>=2.0.0
torch_geometric


# ML Tools
lightning>=2.0.0
wandb



